// about page scss
.about-us,.work-page-banner{
    height: 100vh;
    .navbar{
        z-index:100;
    }
    .about-banner,.work-banner{
        
        .overlay{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100vh;
            background: linear-gradient(to right, #11b1a1cc 0%, #f6d414f0 100%);
            z-index: 60;
            &:before{
                content: '';
                background-image: url("../images/work-header-bottom.svg");
                position: absolute;
                bottom: -1px;
                left: 0;
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-position: bottom;
            }
            @media(max-width: 834px){
                height: 50vh;
            }
            @media(max-width: 575px){
                height: 30vh;
                left: -1px;
            }
        }
        .video{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100vh;
            video{
                width: 100%;
                height: 100%;
            }
            @media(max-width: 834px){
                height: 50vh;
            }
            @media(max-width: 575px){
                height: 30vh;
            }
        }
    }
    @media(max-width: 834px){
        height: 50vh;
    }
    @media(max-width: 575px){
        height: 30vh;
    }
}

.banner-next-section{
    background: url('../images/careers-top-bottom.svg') bottom no-repeat,linear-gradient(-180deg,#fff,#f1f1f1);
    background-size: auto, auto;
    background-size: 100%,100%;
    padding-bottom: 210px;
    padding-top: 100px;
    .center-img{
        position:relative;
    }
    .surrounded-img{
        img{
            position: absolute;
        }
    }
    .about4{
        top: -70px;
        left: -40px;
    }
    .about3{        
        top: -70px;
        left: -35px;
    }
    .about2{
        bottom: -175px;
        left: -40px;
    }
    .about10{
        top: -45px;
        right: -120px;
    }
    .about5{
        bottom: -100px;
        right: -50px;
    }
    .about9{
        bottom: -135px;
        right: 0px;
    }
    .about8{
        top: -60px;
        right: 140px;
    }
    
    .for-mob-view{
        @media(max-width: 834px){
            display: none;
        }
    }
    @media(max-width: 834px){
        padding-bottom: 350px;
    }
    
    @media(max-width: 575px){
        padding-top: 50px;
        padding-bottom: 455px;
    }
}

.second-part{
    padding-top:175px;

    img{
        width:100%;
        border-radius:6px;
        position:relative;
    }
    .side-box{
        background: #11b1a1;
        position: absolute;
        top: 55px;
        right: -140px;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 300px;
        padding: 30px;
        h2{
            text-align:center;
        }
        @media(max-width:834px){
            top:200px;
            left:25%;
        }
       
        @media(max-width: 575px){
            top:150px;
            right: 20px;
            max-width: 250px;
            h2{
               font-size: 24px;
            }
        }
        @media(max-width: 414px){
            left:68px;
        }
        @media(max-width: 375px){
            left:48px;
        }
        @media(max-width: 320px){
            left:20px;
        }
    }
    @media(max-width: 834px){
        padding-top: 100px;
    }
    @media(max-width: 575px){
        padding-top: 50px;
    }
}

.values{
    position: relative;
    height: 80%;
    .container{
        position: absolute;
        left: 145px;
        top: -150px;
        @media(max-width:3840px){
            left: 35%;
        }
        @media(max-width:1920px){
            left: 22%;
        }
        @media(max-width:1440px){
            left: 12%;
        }
        @media(max-width:1280px){
            left: 5%;
        }
        @media(max-width: 834px){
            left: 50px;
        }
        @media(max-width: 768px){
            left: 26px;
        }
        @media(max-width: 575px){
            left: 0;
            top:-110px;
        }
    }
    .total-box{
        display:flex;
        @media(max-width: 575px){
            display: unset;
        }
    }
    .boxes{
        background-color: $white;
        border-radius: 6px;
        box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.14);
        max-width: 250px;
        margin: 0px 10px;
        padding: 15px;
        transition: all 0.2s linear;

        &:hover{
            transform:translateY(-10px);
            box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.27);
        }
        @media(max-width: 575px){
           margin: 10px 10px;
        }
    }
    h2{
        background: -webkit-linear-gradient($logo-primary-color,$logo-secondary-color);
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .for-mobile-view-valuebox{
        @media(max-width: 575px){
            display: flex;
            justify-content: center;
        }
    }
    @media(min-width: 1920px){
        height: 25%;
    }
    @media(min-width: 576px) and (max-width:1920px){
        height: 50%;
    }
}

.people{
    padding:100px 0px 80px 0px;
    h3{
        background: -webkit-linear-gradient($logo-primary-color,$logo-secondary-color);
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .person-img{
        max-width:200px;
        height: 200px;
        background: linear-gradient(135deg, rgba(17,177,161,1) 0%, rgba(255,146,10,1) 100%);
        img{
            height: 100%;
            width:100%;
        }
        &:before{
            content:'';
        }
    }
    .person-details{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .position{
            color:$logo-secondary-color;
        }
        .name{
            font-size: 20px;
            font-weight: 700;
            color: $primary-color;
        }
        .mail{
            color:$logo-primary-color;
        }
    }
    @media(max-width: 575px){
        padding-top: 800px;
        
        .person{
            margin:15px;
        }
    }
}

.to-careers{
    padding:80px 0px;
    .career-box{
        background: url('../images/globe.png') 100% no-repeat,-webkit-linear-gradient(-190deg,#6000bf 3%,#450194);
        background-size: auto, auto;
        background-size: auto, auto;
        background-size: cover;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        padding: 75px  45px;
        position:relative;
    }
    .career-req{
        max-width:400px;
        h4,p{
            color:$white !important;
        }
    }
    .career-link{
        position: absolute;
        bottom: -35px;
        left: 40px;
    }
    @media(max-width: 575px){
        padding: 0px;
    }
}

.community{
    padding-top:100px;
    .center-img{
        position:relative;
    }
    .surrounded-img{
        img{
            position: absolute;
        }
    }
    .community3{        
        bottom: -70px;
        left: -30px;
    }
    .community2{
        bottom: -28px;
        left: -20px;
    }
    .community5{
        top: 40px;
        left: -20px;
    }
    .community6{
        bottom: -110px;
        left: 175px;
    }
    .community7{
        top: -60px;
        right: -120px;
    }
    .community8{
        top: 0px;
        right: 0px;
    }
    @media(max-width: 834px){
        .for-mob-view{
            display: none;
        }
    }
}