// Home page Sass starts
#home_page{
    height:100vh;
    overflow-x:hidden;
    .full-width{
        width: 100%;
        background-color: $white;
    }
 
    .curved{
        height:100vh;
        
        .curved-overlay{
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 100%;

            background: linear-gradient(270deg, #f6d314cf, #11b1a2db);
            background-size: 400% 400%;
            
            -webkit-animation: AnimationName 60s ease infinite;
            -moz-animation: AnimationName 60s ease infinite;
            animation: AnimationName 60s ease infinite;
            
            @-webkit-keyframes AnimationName {
                0%{background-position:0% 50%}
                50%{background-position:100% 50%}
                100%{background-position:0% 50%}
            }
            @-moz-keyframes AnimationName {
                0%{background-position:0% 50%}
                50%{background-position:100% 50%}
                100%{background-position:0% 50%}
            }
            @keyframes AnimationName {
                0%{background-position:0% 50%}
                50%{background-position:100% 50%}
                100%{background-position:0% 50%}
            }
            &:before{
                content: '';
                background-image: url("../images/blob-index-large.svg");
                position: absolute;
                right: 290px;
                bottom: 0;
                width: 100%;
                height: 100vh;
                background-repeat: no-repeat;
                background-position: top;
                background-size: contain;
                z-index: 1;
            }
            .play-btn{
                display:flex;
                justify-content:center;
                align-items:center;
                height:inherit;
                .play{
                    cursor:pointer;
                    z-index:11;
                    transform: translate(50%,-0%);
                    @media (max-width: 1280px)  and (max-height: 720px) {
                        transform: translate(100%,0%);
                    }
                    @media (max-width: 1280px)  and (max-height: 950px) {
                        transform: translate(100%,0%);
                    }
                    @media(max-width: 993px){
                        transform: translate(0%,100%);
                    }
                    @media(max-width: 769px){
                        transform: translate(0%,50%);
                    }
                }
            }
            @media(max-width: 993px){
                overflow: hidden;
                &:before{
                    background-image: url("../images/top-circle.png");   
                    left: -300px;
                    bottom: -325px;
                    background-position: left;
                    height: 100%;
                }
            }
            @media(max-width: 769px){
               
                &:before{   
                    left: -300px;
                    bottom: -245px;
                }
            }
            
            @media(max-width: 480px){
             
                &:before{
                    left: -130px;
                    bottom: -150px;
                }
            }
        }
        
        iframe{
            height:100%;
            width:100%;
        }
        &:before{
            content: '';
            background-image: url("../images/left-curve.png");
            position: absolute;
            right: 290px;
            bottom: 0;
            width: 100%;
            height: 100vh;
            background-repeat: no-repeat;
            background-position: top;
            background-size: contain;
            z-index: 1;
        }
        @media(max-width:3840px){
            &:before{
                right: 740px;
            }
        }
        
        @media(max-width:1920px){
            &:before{
                right: 375px;
            }
        }
        @media(max-width:1440px){
            &:before{
                right: 260px;
            }
        }
        @media(max-width:1370px){
            &:before{
                right: 290px;
            }
        }
        @media (min-width:993px) and  (max-width: 1280px)  and (max-height: 800px) {
            &:before{
                right: 250px !important;
            }
        }
        
        @media (min-width:993px) and (max-width: 1280px)  and (max-height: 950px) {
            &:before{
                right: 190px;
            }
        }
        @media(max-width: 993px){
            height: 70vh;
            &:before{
                background-image: url("../images/mobileview/home-page-bottom-video.png");
                right: 0;
                bottom: 2px;
                height: 70vh;
            }
        }
        @media(max-width: 769px){
            height: 60vh;
            &:before{
                background-image: url("../images/mobileview/home-page-bottom-video.png");
                right: 0;
                bottom: 2px;
                height: 60vh;
                left: -2px;
            }
        }
    }

    .top-circle{
        position: absolute;
        right: -90px;
        z-index: 1;
        top: -250px;
        transition:all 0.5s infinite;
        transform:rotate(360deg);
        
        @media(max-width: 993px){
            right: -190px;
            top: -275px;
            img{
                position: relative;
            }
        }
    }
    .for-mobile-view-top{
        display: none;
        @media(max-width: 769px){
            display: block;
            position: absolute;
            right: -50px;
            top:-80px;
        }
    }
    
    .for-mobile-container{
        @media(max-width: 993px){
            margin-top: 75px;
        }
    }
    
}



// Home page sass ends